<div id="<%= dom_id location %>">
  <p>
    <strong>Zipcode:</strong>
    <%= location.zipcode %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= location.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= location.country_code %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= location.lat %>
  </p>

  <p>
    <strong>Long:</strong>
    <%= location.long %>
  </p>

</div>
